# Dependency directories
/node_modules

# Build and static files
/dist
/coverage

# IDE files
/.idea
.idea/workspace.xml

# Package management
package-lock.json
npm-debug.log

# TypeScript
*.tsbuildinfo

# Development and build tools
.eslintcache

# Misc
.DS_Store
Thumbs.db